.bar {
  width: 50%;
  height: 20px;

  border: 1px solid black;
  padding: 1px;
  position: relative;
  overflow: hidden;

  & > div {
    width: 100%;
    --v: calc(-100% + 1% * var(--x));
    transform: translateX(var(--v));
    background-color: black;
    height: 20px;

    content: var(--x);
  }
}
