.container {
  max-width: 400px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  color: rgb(159, 159, 159);
}
p.info {
  color: black;
}

p.code,
span.code {
  color: black;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(238, 238, 238);
}

p.code {
  padding: 8px;
}

span.code {
  display: inline-block;
  margin: 0 8px;
  padding: 2px 4px;
}

.sc1 {
  height: 200px;
  background-color: grey;
  font-size: 32px;
  text-align: center;
}
.sc1:after {
  counter-reset: p var(--p);
  content: counter(p) " %";
}

.above {
}
.second {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.slide {
  height: 100px;
  width: 100px;
  background-color: rgb(89, 148, 221);
  --pos: calc(var(--p) / 100 * (100vw - 100px));
  transform: translateX(var(--pos));
  transition: transform 0.1s linear;
}

.ball {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(240, 153, 153);
  background-image: conic-gradient(red 180deg, green 0deg);

  --pos: calc(var(--p) * 1vw - 100px);
  --ang: calc(var(--p) * 20deg);
  transform: translateX(var(--pos)) rotate(var(--ang));
  transition: transform 0.1s linear;
}

.balltwo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(240, 153, 153);
  background-image: conic-gradient(red 180deg, green 0deg);

  --pos: calc(var(--s) * 0.1vw - 100px);
  --ang: calc(var(--s) * 1deg);
  transform: translateX(var(--pos)) rotate(var(--ang));
  transition: transform 0.1s linear;
}

.pacman {
  --w: 100px;
  width: var(--w);
  height: var(--w);

  /* background-color: rgb(249, 211, 46); */
  --col: rgb(249, 211, 46);
  --mouth: calc(var(--a) * 4.5deg);
  background-image: radial-gradient(black 5px, transparent 0),
    conic-gradient(
      var(--col) calc(90deg - var(--mouth)),
      transparent calc(90deg - var(--mouth)),
      transparent calc(90deg + var(--mouth)),
      var(--col) 0deg
    );
  background-position: 0 -25px, 0 0;
  border-radius: 50%;

  --pos: calc((var(--p) - 50) * 10% + 50%);
  transform: translateX(var(--pos));
  transition: all 0.1s linear;
}

/* threshold */

.thresh {
  height: 100px;
  background-color: red;
  margin: 0 auto;
}
/*  Roller letter */

.roller {
  position: relative;
  font-size: 80px;
}

.roller span {
  display: inline-block;
  line-height: 0.83;
}

.rollIn .q1 {
  animation: in-one 1s ease-in-out both reverse;
}
.rollIn .q2 {
  animation: in-two 1s ease-in-out both reverse;
}
.rollIn .q3 {
  animation: in-three 1s ease-in-out both reverse;
}
.rollIn .q4 {
  animation: in-four 1s ease-in-out both reverse;
}

.rollOut .q1 {
  animation: out-one 1s ease-in-out both;
}
.rollOut .q2 {
  animation: out-two 1s ease-in-out both;
}
.rollOut .q3 {
  animation: out-three 1s ease-in-out both;
}
.rollOut .q4 {
  animation: out-four 1s ease-in-out both;
}

.rollOut {
}

@keyframes out-one {
  0% {
    transform-origin: 0% 100%;
    transform: rotate(0);
  }
  25%,
  to {
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
  }
}

@keyframes out-two {
  0%,
  25% {
    transform-origin: 0% 0%;
    transform: rotate(0);
  }
  50%,
  to {
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
  }
}

@keyframes out-three {
  0%,
  50% {
    transform-origin: 100% 0%;
    transform: rotate(0);
  }
  75%,
  to {
    transform-origin: 100% 0%;
    transform: rotate(-90deg);
  }
}

@keyframes out-four {
  0%,
  75% {
    transform-origin: 100% 100%;
    transform: rotate(0);
  }
  to {
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
  }
}

@keyframes in-one {
  0% {
    transform-origin: 0% 100%;
    transform: rotate(0);
  }
  25%,
  to {
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
  }
}

@keyframes in-two {
  0%,
  25% {
    transform-origin: 0% 0%;
    transform: rotate(0);
  }
  50%,
  to {
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
  }
}

@keyframes in-three {
  0%,
  50% {
    transform-origin: 100% 0%;
    transform: rotate(0);
  }
  75%,
  to {
    transform-origin: 100% 0%;
    transform: rotate(-90deg);
  }
}

@keyframes in-four {
  0%,
  75% {
    transform-origin: 100% 100%;
    transform: rotate(0);
  }
  to {
    transform-origin: 100% 100%;
    transform: rotate(-90deg);
  }
}
